<html>

<head>
    <meta charset="UTF-8" />
    <title>NBA Database 20/21</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <table class="g-table">
        <thead>
        </thead>
        <tbody>
            <td>
            <% for(var i=0;i<teams.length;i++){%>
            <div class="card">
                <!--Start a div-->
                <img class="card-img" src=<%=teams[i].thumbnail %>>
                <!--add source and class-->
                <div class="card-body">
                    <!-- Keep class names relative to what you are doing-->
                    <h5 class="card-title"><%=teams[i].name%></h5>
                    <div class="card-info">
                        <h6>W/L:<%=teams[i].wins%>:<%=teams[i].defeat%></h6>
                    </div>
                    <!-- Add link
                   with href and put text for button in-->
                </div>
            </div>
            <% } %>
        </td>
        </tbody>
    </table>
</body>

</html>