<html>

<head>
    <meta charset="UTF-8" />
    <title>NBA Database 20/21</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <table id="g-table">

            <thead>
            <tr>
                <th>
                    Pos
                </th>
                <th>
                    Name
                </th>
                <th>
                    Wins
                </th>
                <th>
                    Defeat
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<teams.length;i++){%>
            <tr>
                <td>
                    <%=i+1%>.-
                </td>
                <td>
                    <img src=<%=teams[i].thumbnail%> />
                </td>
                <td>
                    <%=teams[i].wins%>
                </td>
                <td>
                    <%=teams[i].defeat%>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>

</html>